<div class="accounts-section">




    <div class="transfer-controlers">

        <a href="#" role="button" class="controllers-item controllers-item--active" data-type="transfers">Transfers</a>

        <a href="#" role="button" class="controllers-item" data-type="payments">Payments</a>

    </div>




    <div class="transfers-wrapper controls-content--bordered">
    
        <div class="transfers ">
            
    
        </div>



    


        <div class="payments">

            <div class="under-construction__wrapper">

                <img src="/assets/img/underconst.svg" alt="hammer and a screwdriver" class="under-construction">

            </div>

        </div>




    
    </div>

</div>
